header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url('../../img/bg-header-big.jpg');
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  background-attachment: fixed;
}

header h1 {
  font-size: 60px;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(rgb(120, 120, 113), rgb(233, 233, 206));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h2 {
  font-size: 40px;
  color: aliceblue;
  background: -webkit-linear-gradient(rgb(120, 120, 113), rgb(233, 233, 206));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transform: translate(-16%, -31.5%);
  font-size: 20px;
  background: linear-gradient(
    rgba(120, 120, 113, 0.5),
    rgba(233, 233, 206, 0.5)
  );
  opacity: 0;
  transition: opacity 0.5s;
}
header button {
  position: relative;
  margin-top: 50px;
  border: none;
  background: linear-gradient(rgb(120, 120, 113), rgb(233, 233, 206));
  color: #333;
  padding: 20px 40px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

header button:hover::before {
  opacity: 1;
}

.underline {
  width: 60px;
  height: 4px;
  background: rgb(182, 9, 43);
  margin: 0 auto 40px;
}

main.home {
  padding: 100px 50px 100px 50px;
}

main.home .grid-cols-1 {
  display: grid;
  grid-template-columns: auto;
}

main.home .grid-cols-2 {
  display: grid;
  grid-template-columns: auto auto;
}

main.home .grid-cols-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

main.home section {
  padding: 30px 0;
}

main.home section div {
  font-size: 18px;
}

main.home section:first-child h2 {
  padding-top: 0;
}

main.home section h2 {
  padding: 10px 0;
  text-align: center;
}

main.home .grid-cols-2 .image img {
  max-width: 100%;
  width: auto;
}

main.home section .content p::first-letter {
  font-size: 23px;
  font-weight: bold;
}

main.home section .content {
  padding: 15px;
}

main.home section .content a {
  text-decoration: none;
  color: rgb(182, 9, 43);
  font-weight: bold;
  margin-top: 10px;
  display: block;
  transition: opacity 0.5s;
}

main.home .content button {
  margin-top: 0;
}

main.home section .content a:hover {
  opacity: 0.8;
}

main.home .single-card,
main.home .single-card-image {
  margin: 30px 20px 0 20px;
  position: relative;
  text-align: center;
  box-shadow: rgb(0 0 0 / 64%) 0px 2px 8px -5px;
  font-size: 17px;
}

main.home .services a {
  text-decoration: none;
  color: black;
}

main.home .single-card-image {
  transition: transform 0.5s;
}

main.home .single-card-image:hover {
  transform: scale(0.98);
}

main.home .achievements {
  background: linear-gradient(black, transparent),
    url('https://images.pexels.com/photos/70912/pexels-photo-70912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

main.home .achievements .single-card {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 20px;
}

main.home .work .single-card,
main.home .achievements .single-card {
  height: 300px;
}

main.home .single-card .card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main.home .single-card p {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

main.home .single-card .card-img img {
  width: 80px;
  height: 80px;
}

.button {
  background-color: rgb(182, 9, 43);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  padding: 20px 40px;
  border: none;
  font-size: 17px;
  transition: opacity 0.5s;
}

.button:hover {
  opacity: 0.7;
}

main.home .single-card-image {
  padding: 0 0 50px 0;
  text-align: center;
}
main.home .single-card-image p {
  padding: 10px 0;
}

main.home section.contact .contact-form {
  max-width: 600px;
  margin: 0 auto;
}

main.home input,
main.home textarea {
  margin: 10px 0;
  font-family: 'Poppins';
}

main.home input[type='email'] {
  height: 50px;
  padding-left: 10px;
  font-size: 17px;
}

main.home textarea {
  width: 100%;
  min-height: 200px;
  padding: 10px 0 0 10px;
  font-size: 17px;
}

main.home .contact button {
  width: 100%;
  margin-top: 20px;
}

@media only screen and (max-width: 1100px) {
  main.home section div {
    font-size: 16px;
  }
}

@media only screen and (max-width: 991.5px) {
  main.home h2 {
    font-size: 23px;
  }
  main.home {
    text-align: center;
  }
  header h1 {
    font-size: 45px;
    margin-left: 0;
  }

  header h2 {
    font-size: 30px;
  }

  main.home .grid-cols-2 {
    display: grid;
    grid-template-columns: auto;
  }

  main.home .grid-cols-3 {
    display: grid;
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 560px) {
  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 25px;
  }

  main.home .achievements .single-card {
    height: 250px;
  }

  main.home .achievements .single-card img {
    top: 30%;
  }
}
