main.car section {
  padding: 0 50px 0 50px;
}
main.car section.introduction {
  margin-top: 60px;
}

main.car .owl-carousel {
  z-index: 0;
  position: relative;
}

main.car .owl-nav button {
  position: absolute;
  top: -webkit-calc(50% - 30px);
  top: -moz-calc(50% - 30px);
  top: -ms-calc(50% - 30px);
  top: calc(50% - 30px);
}

main.car .owl-nav button.owl-prev {
  left: 0;
}

main.car .owl-nav button.owl-next {
  right: 0;
}

main.car .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 40px;
}

main.car section {
  padding-top: 60px;
  padding-bottom: 60px;
}

main.car section.other-info {
  padding-top: 0;
}

main.car h3 {
  font-size: 25px;
  color: rgb(32, 31, 31);
  padding: 20px 0 20px 0;
}

main.car p:not(.calculate) {
  font-size: 18px;
  padding-top: 30px;
}

main.car .other-info {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

main.car .introduction,
main .sides {
  display: grid;
  text-align: left;
  grid-template-columns: auto auto;
}

main.car .list-equipment {
  list-style-type: none;
}

main.car ol.list-equipment li:before {
  content: '- ';
}

main.car ol.list-equipment li {
  padding: 10px 0 10px 0;
}
main.car p.car-description {
  padding: 0;
}

main.car .photos {
  overflow: hidden;
  height: auto;
}

.owl-nav {
  color: white;
  font-weight: bold;
  font-size: 85px;
  line-height: 20px;
}

.owl-nav > button {
  text-shadow: 0px 0px 10px black;
}

.owl-nav > button:hover {
  background-color: transparent !important;
  opacity: 0.7;
  color: white !important;
}

main.car .car-info {
  padding-left: 20px;
}

main.car ul li {
  font-size: 18px;
  display: inline;
}

li.details-list:before {
  content: '• ';
  margin-left: 10px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

main.car .details p {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid rgb(182, 9, 43);
  border-radius: 2px;
  font-size: 16px;
}

main.car .car-info h2 {
  font-size: 30px;
  color: rgb(182, 9, 43);
}

main.car .other-info p {
  padding: 0 40px 0 40px;
}

main.car .calculate small {
  color: gray;
  font-size: 15px;
}

iframe {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

main.car .container {
  width: 60%;
  overflow: hidden;
  padding-top: 35%;
  position: relative;
  margin: 0 auto;
}

main button {
  margin-top: 30px;
}

main button.btn-calculate {
  padding: 15px;
  width: 250px;
  color: white;
  background-color: rgb(182, 9, 43);
  cursor: pointer;
  font-size: 17px;
  border: none;
  border-radius: 20px;
  position: relative;
  transition: opacity 0.5s;
}

main button.btn-calculate:hover {
  opacity: 0.7;
}

main button.btn-calculate svg {
  position: absolute;
  left: 16px;
  fill: white;
}

@media only screen and (max-width: 991.5px) {
  main.car .introduction,
  main.car .sides,
  main.car .other-info {
    grid-template-columns: auto;
  }

  main.car .car-info {
    margin-top: 30px;
    text-align: left;
  }

  main.car section.other-info .right {
    margin-top: 30px;
  }

  main.car .car-details,
  main .video,
  main .other-info,
  main .car-equipment,
  main .sides {
    text-align: center;
  }

  main.car .sides,
  main .car-description,
  main .list-equipment {
    padding-left: 0;
  }

  .details {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  iframe {
    width: 100%;
    height: 100%;
  }

  main.car .container {
    width: 100%;
    padding-top: 56.25%;
    margin: 0 auto;
  }
}
