main.calculator {
  padding: 120px 50px 60px 50px;
}

.calculator-form {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 100%;
}

.calculator-car-info ul {
  padding-left: 20px;
}

.price-display {
  border: 2px solid grey;
  border-radius: 5px;
  width: 100px;
  font-size: 20px;
  text-align: center;
  height: 35px;
}

.calculator-title {
  margin-bottom: 20px;
}

label {
  font-size: 22px;
  display: inline-block;
  padding-bottom: 10px;
}
.range-display {
  width: 200px;
  height: 13px;
  -webkit-appearance: none;
  background: rgb(200, 200, 200);
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);
}
.range-display::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(17, 17, 17);
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px rgb(90, 90, 90);
}
input {
  margin-bottom: 30px;
}

input[type='text'] {
  height: 30px;
}

input[type='date'] {
  width: 160px;
  height: 30px;
}

.calculator-car-img img {
  width: 100%;
}

.calculator-car-info ul li {
  display: inline;
}

.calculator-li:before {
  content: '• ';
  margin-left: 10px;
}

.calculator-car-model {
  display: inline;
}

@media only screen and (max-width: 991.5px) {
  main.calculator {
    text-align: center;
  }

  .calculator-form {
    grid-template-columns: auto;
  }
  .car-display {
    grid-area: 1 / 1 / 2 / 2;
    max-width: 100%;
  }
  .calculator-form {
    grid-area: 2 / 1 / 3 / 2;
  }

  .calculator-car-info ul {
    padding: 0;
  }

  .calculator-car-info {
    padding: 20px 0;
  }
}
