main.order {
  padding: 120px 50px 60px 50px;
  section.order-form {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    label {
      span {
        color: rgb(182, 9, 43);
      }
    }

    .order-payment {
      margin-top: 20px;
    }

    .order-summary {
      position: relative;
      padding: 1.5rem 1rem 3rem;
      border: 0.1rem dashed #d7d7d7;
      background-color: #f9f9f9;
      border-radius: 0.3rem;

      .form-control {
        height: 40px;
        padding: 0.85rem 0.6rem;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        color: rgb(9, 9, 9);
        background-color: #fafafa;
        border: 1px solid #e2dcdc;
        border-radius: 2px;
        margin-bottom: 7px;

        &:focus {
          color: rgb(9, 9, 9);
          background-color: #fff;
          border-color: blue;
          outline: none;
        }
      }

      input[type='checkbox'],
      input[type='radio'] {
        accent-color: rgb(182, 9, 43);
      }

      .person-options {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;

        input {
          flex-grow: 1;
          max-width: 20px;
        }

        label {
          flex-grow: 2;
          display: flex;
          justify-content: flex-start;
          padding-left: 20px;
        }
      }

      .delivery-input {
        display: flex;
        flex-direction: row;

        justify-content: space-between;

        .radio {
          flex-grow: 1;
          max-width: 20px;
          min-width: 20px;
        }

        .label {
          padding-left: 20px;
          flex-grow: 2;
          display: flex;
          justify-content: space-between;
        }
      }

      .payment-input {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        input {
          flex-grow: 1;
          max-width: 20px;
          min-width: 20px;
          flex: 1 1 20px;
        }

        label {
          flex-grow: 2;
          display: flex;
          justify-content: flex-start;
          padding-left: 20px;
          flex: 1 1 100px;
        }

        small {
          color: #333;
          font-size: 15px;
          padding: 5px 0;
        }
      }

      .msg-check {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        input {
          flex-grow: 1;
          max-width: 20px;
        }

        label {
          margin-left: 10px;
          flex-grow: 2;
        }
      }

      .message {
        textarea {
          min-width: 100%;
          min-height: 150px;
          margin-bottom: 0;
          font-family: 'Poppins', sans-serif;
        }
      }

      .regulations,
      .rodo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 10px;

        input {
          flex-grow: 1;
          max-width: 20px;
        }

        label {
          padding-left: 10px;
          flex-grow: 2;
        }

        a {
          color: rgb(182, 9, 43);
        }
      }

      h3 {
        padding-top: 5px;
      }

      button {
        width: 100%;
      }
    }

    h2 {
      color: rgb(182, 9, 43);
      font-weight: bold;
      margin-bottom: 15px;
    }

    .street-and-address {
      display: flex;

      .street {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        flex-grow: 2;
      }
      .address {
        display: flex;
        flex-direction: column;

        input {
          max-width: 80px;
        }
      }
    }

    .zip-and-city {
      display: flex;

      .zip {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
      }

      .city {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  main.order {
    section.order-form {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;

      .order-summary {
        h2 {
          font-size: 20px;
        }
      }

      .consumer-information {
        grid-area: 1 / 1 / 2 / 2;
      }

      .order-delivery-and-payment {
        grid-area: 1 / 2 / 2 / 3;
      }

      .order-info {
        grid-area: 1 / 3 / 2 / 4;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  main.order {
    section.order-form {
      grid-template-columns: unset;
      grid-template-rows: unset;

      .order-summary {
        .payment-input {
          input {
            flex: 1 1 20px;
          }

          label {
            flex: 1 1 300px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  main.order {
    section.order-form {
      .order-summary {
        .payment-input {
          input {
            flex: 1 1 20px;
          }

          label {
            flex: 1 1 100px;
          }
        }
      }
    }
  }
}
