section.filter-fields form {
  max-width: 62.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0 auto;
}

section.filter-fields select,
section.filter-fields button {
  height: 50px;
  width: 170px;
  border: none;
  font-size: 17px;
}

section.filter-fields select:focus {
  background-color: rgb(224, 239, 251);
}

section.filter-fields button {
  margin-top: 0;
  background-color: rgb(182, 9, 43);
  color: white;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  transition: opacity 0.5s;
}

section.filter-fields button:hover {
  opacity: 0.7;
}

section.filter-fields svg {
  position: absolute;
  left: 42px;
}

section.filter-fields form select {
  border-left: 1px solid rgb(152, 147, 147);
}

section.filter-fields .select-category select {
  border-right: 1px solid rgb(152, 147, 147);
}

@media only screen and (max-width: 820px) {
  section.filter-fields form {
    display: block;
    text-align: center;
  }
  section.filter-fields form select {
    border-top: 1px solid rgb(152, 147, 147);
    border-left: none;
    border-bottom: 1px solid rgb(152, 147, 147);
  }
  section.filter-fields .select-category select {
    border-right: none;
  }

  section.filter-fields button {
    margin: 20px 0 0 0;
  }

  section.filter-fields select,
  section.filter-fields button {
    height: 50px;
    width: 100%;
    border: none;
    font-size: 17px;
  }
  section.filter-fields svg {
    position: absolute;
    left: 95px;
  }
}
