main.cars-list section.filter-cars {
    padding: 60px 50px 60px 50px;
}

main.cars-list section.single-car-card {
    display: grid;
    grid-template-columns: auto auto auto;
    box-shadow: 5px 10px 20px #888 inset;
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 50px;
    cursor: pointer;
    transition: all 0.2s linear;
    max-height: 250px;
    overflow: hidden;
}

main.cars-list section.single-car-card:hover {
    transform: scale(1.01);
}

main.cars-list div.photo-of-single-car img {
    max-height: 250px;
}

main.cars-list ul li {
    font-size: 15px;
    display: inline;
}

div.summary-of-single-car {
    padding: 30px 0 0 30px;
}

div.summary-of-single-car p {
    padding: 15px 0 20px 0;
}

div.price-of-single-car h3 {
    color: rgb(182, 9, 43);
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px 0 0;
}

@media only screen and (max-width: 1051px) {
    div.summary-of-single-car p {
        font-size: 15px;
    }
}