.calculator-summary-info {
  font-size: 20px;
  padding: 5px 0;
}
.calculator-summary {
  display: grid;
  grid-template-columns: auto auto;
}
.price-brutto {
  font-size: 120%;
}
.price-netto {
  font-size: 90%;
}
.calculator-summary-graph {
  max-width: 70%;
}

@media only screen and (max-width: 991.5px) {
  .calculator-summary {
    display: grid;
    grid-template-columns: auto;
  }
  .calculator-summary-graph {
    max-width: 300px;
    margin: auto auto;
  }
}
