nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  letter-spacing: 1px;
  top: 0;
  position: fixed;
  z-index: 1;
  padding: 0 50px 0 50px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav ul a {
  color: rgb(233, 233, 206);
  transition: opacity 0.5s;
}

nav a {
  text-decoration: none;
}

nav ul a:hover {
  opacity: 0.7;
}

nav h1 {
  background: -webkit-linear-gradient(rgb(120, 120, 113), rgb(233, 233, 206));
  font-variant: small-caps;
  font-size: 40px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(233, 233, 206);
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
}

.toggle .dash1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .dash2 {
  opacity: 0;
}

.toggle .dash3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav ul {
    text-align: center;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: black;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    color: white;
  }

  nav ul li {
    margin: 10%;
  }

  nav ul li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
